<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose"/>
    <add key="serilog:using" value="Serilog.Sinks.Console"/>
    <add key="serilog:using" value="Serilog.Sinks.SQLite"/>
    <add key="serilog:write-to:Console"/>
    <add key="serilog:write-to:SQLite.sqliteDbPath" value="Data Source=Log.db"/>
  </appSettings>
</configuration> 
